[user]
	name = Jake Espinosa
	email = jacob.sa.espinosa@gmail.com
[core]
	editor = code --wait
	autocrlf = true
	sshCommand = 'ssh -i ~/.ssh/id_rsa'
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
