[user]
	name = Jake Espinosa
	email = jacob.sa.espinosa@gmail.com
[core]
	editor = code --wait
	sshCommand = 'ssh -i ~/.ssh/id_ed25519'
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
